// content height calculations
$header-height: 70px;
$footer-height: 60px;

// text atributes
$text-color: #cccccc;
$bright-text-color: #ffffff;
$content-text-size: 17px;
$title-text-size: 50px;

// elements atributes
$decoration-color: #cccccc;
$background-color: #312E2B;
$dark-background-color: #272522;